<div class="container">
  <div class="container-row1" *ngFor="let restraunt of restrauntList$ | async">
    <div class="img-container" *ngIf="restrauntId === restraunt.id">
      <img [src]="restraunt.img" alt="Restraunt image" />
      <h4>{{ restraunt.name }}</h4>
    </div>
  </div>
  <div class="book-restraunt-container">
    <form [formGroup]="restrauntForm" (ngSubmit)="onSave()">
      <div class="form-row1">
        <mat-form-field class="form-field">
          <mat-select placeholder="Choose table(s) for" formControlName="tableSize">
            <mat-option *ngFor="let table of tableSize" [value]="table">
              {{ table }} person
            </mat-option>
          </mat-select>
          @if (restrauntForm.get('tableSize')?.hasError('required')) {
          <mat-error>Required Field</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-select placeholder="Choose location" formControlName="tableLoc">
            <mat-option *ngFor="let location of tableLocation" [value]="location">
              {{ location }}
            </mat-option>
          </mat-select>
          @if (restrauntForm.get('tableLoc')?.hasError('required')) {
          <mat-error>Required Field</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="form-row2">
        <mat-form-field class="form-field">
          <mat-label>Choose booking date</mat-label>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (restrauntForm.get('date')?.hasError('required')) {
          <mat-error>Required Field</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-select placeholder="Choose slot" formControlName="time">
            <mat-option *ngFor="let slots of timeSlot" [value]="slots">
              {{ slots }} <mat-icon matPrefix svgIcon="time-icon"></mat-icon>
            </mat-option>
          </mat-select>
          @if (restrauntForm.get('time')?.hasError('required')) {
          <mat-error>Required Field</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>