<div class="container">
  <div *ngFor="let restraunt of restrauntData">
    <div *ngIf="id == restraunt.id">
       <img [src]="restraunt.img" alt="">
       <h4>{{restraunt.name}}</h4>
    </div>
 </div>
 <div class="book-restraunt-container">
   <form [formGroup]="restrauntForm" (ngSubmit)="onSubmit()">
     <mat-form-field appearance="fill">
       <mat-select placeholder="Choose person(s)" formControlName="tableSize">
         <mat-option *ngFor="let table of tableType" [value]="table">
           {{ table }}
         </mat-option>
       </mat-select>
     </mat-form-field>
     <mat-form-field>
       <mat-select placeholder="Choose location" formControlName="tableLoc">
         <mat-option *ngFor="let seat of seatLocation" [value]="seat" >
           {{ seat }}
         </mat-option>
       </mat-select>
     </mat-form-field>
     <mat-form-field>
       <mat-label>Choose a date</mat-label>
       <input matInput [matDatepicker]="picker" formControlname="date" (dateChange)="changeDate($event)">
       <mat-hint>MM/DD/YYYY</mat-hint>
       <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
     <button mat-button type="submit">Submit</button>
   </form>
 </div>  
</div>