.container {
    width: 80%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

img {
    width: 90%;
    height: 70vh;
}

/* Section classes starts  */
.book-restraunt-container {
    width: 80%;
    height: 60vh;
    margin: auto;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

button {
    background: grey;
    padding: 30px;
    border-radius: 5px;
    color: white;
    font-family: "Poppins", sans-serif;
}

/* Section classes ends  */