<div class="container">
  <div class="container-row1" *ngFor="let restraunt of restrauntList$ | async">
    <div class="img-container" *ngIf="restrauntId === restraunt.id">
      <img [src]="restraunt.img" alt="Restraunt image" />
      <h4>{{ restraunt.restaurantName }}</h4>
    </div>
  </div>
  <div class="book-restraunt-container">
    <form [formGroup]="restrauntForm" (ngSubmit)="onSave()">
      <div formArrayName="bookings">
        <div *ngFor="let booking of Bookings; let i = index" class="form-container" [formGroupName]="i">
          <div class="form-row1">
            <mat-form-field class="form-field">
              <mat-select placeholder="Choose table(s) for" formControlName="tableSize">
                <mat-option *ngFor="let table of restrauntDetails.tableSize" [value]="table">
                  {{ table }} person
                </mat-option>
              </mat-select>
              @if (booking.get('tableSize')?.hasError('required')) {
              <mat-error>Required Field</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-select placeholder="Choose location" formControlName="tableLoc">
                <mat-option *ngFor="let location of restrauntDetails.tableLocation" [value]="location">
                  {{ location }}
                </mat-option>
              </mat-select>
              @if (booking.get('tableLoc')?.hasError('required')) {
              <mat-error>Required Field</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="form-row2">
            <mat-form-field class="form-field">
              <mat-label>Choose booking date</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="date">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              @if (booking.get('date')?.hasError('required')) {
              <mat-error>Required Field</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="form-field">
              <mat-select placeholder="Choose slot" formControlName="time">
                <mat-option *ngFor="let slots of restrauntDetails.timeSlot" [value]="slots">
                  {{ slots }} <mat-icon matPrefix svgIcon="time-icon"></mat-icon>
                </mat-option>
              </mat-select>
              @if (booking.get('time')?.hasError('required')) {
              <mat-error>Required Field</mat-error>
              }
            </mat-form-field>
          </div>
          <hr>
        </div>
      </div>
      <div class="button-container">
        <button mat-button type="button" (click)="onAddBooking()">Add another booking</button>
        <button mat-button type="submit">Continue with this booking</button>
      </div>
    </form>
  </div>
</div>