<div class="container">
    <app-restraunt-preview [id]="id" class="restraunt-common-preview"></app-restraunt-preview>
    <div class="container-row2">
        <h3>Currently booked appointments</h3>
        <div class="appointment">
            <div *ngFor="let data of currentAppointmentListData" class="appointment-container">
                <div class="appointment-container-row1">
                    <div>
                        <h6>Appointment</h6>
                    </div>
                    <div class="appointment-actions-container">
                        <a [routerLink]="['/restraunt/UpdateAppointment', data.restrauntId]"
                            [queryParams]="{ bookingId: data.id }">
                            <mat-icon svgIcon="edit-icon" class="edit-icon"></mat-icon>
                        </a>
                        <button mat-button (click)="deleteAppointment(data.id)">
                            <mat-icon svgIcon="delete-icon" class="delete-icon"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="table-data-conatiner">
                    <div>
                        <p><span>Table Size:</span> {{ data.tableSize }}</p>
                        <p><span>Table Location:</span> {{data.tableLoc}}</p>
                    </div>
                    <div>
                        <p><span>Time Slot:</span> {{ data.time }}</p>
                        <p><span>Date:</span> {{ data.date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>