<section>
    <div class="restraunt-list-container" *ngFor="let restraunt of restrauntList$ | async">
        <div class="restraunt-container">
            <img [src]="restraunt.img">
            <div class="icon-container">
                <p>{{ restraunt.name }}</p>
                <button [routerLink]="['BookAppointment', restraunt.id]" mat-raised-button
                    matTooltip="Book appointment">
                    <mat-icon svgIcon="book-icon"></mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>