<section>
    <div class="landing-page-container">
        <div class="landing-page-container-row1">

        </div>
        <div class="landing-page-container-row2">
            <img src="./../../../../assets/images/restaurant.jpg" alt="">
        </div>
        <div class="landing-page-container-row3">
            <h4>Discover & book the best restaurant</h4>
            <div class="button-container">
                <p>Let's find some good for you</p>
                <button mat-button routerLink="/restraunt/home">Go 🞂</button>
            </div>
        </div>
    </div>
</section>